img.new_img {
    width: 352px;
    height: 352px;
    margin: 5px auto 5px auto;
 }

img.head_img{
    width: 30px;
    height: 25px;
}

select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    
 }
 select:focus{ outline: none;}
 
hr.hr {
    border-top: 18px solid rgb(219, 217, 217)
}

 .box {
    margin:0px auto 20px auto;	
    border:1px solid #d9d9d9;
    height:30px;
    overflow: hidden;
    width: 180px;
    position:relative;
 }

 .box::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     background-color:#d9d9d9;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }